@model List<PortfolioApp.Models.Entity.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Listesi</h2>



<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Sosyal Medya</th>
        <th>Url</th>
        <th>Image Url</th>

        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td>@item.Photo</td>

            <td> <a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-outline-success">Update</a></td>
            <td> <a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-outline-danger">Delete</a></td>

        </tr>

    }

</table>
<td> <a href="/SocialMedia/CreateSocialMedia/" class="btn btn-primary"> Add New Social Media</a></td>
