@model List<PortfolioApp.Models.Entity.TblProfile>

@foreach (var item in Model)
{
<div class="row">
    <div class="col-sm-6 col-md-5">
        <div class="about-img">
            <img src="~/Template/devfolio-master/devfolio-master/img/AlihanKuru.jpg" class="img-fluid rounded b-shadow-a" alt="">
        </div>
    </div>
    <div class="col-sm-6 col-md-7">
        <div class="about-info">
            <p><span class="title-s">İsim: </span> <span>@item.NameSurname</span></p>
            <p><span class="title-s">Meslek: </span> <span>@item.Profile</span></p>
            <p><span class="title-s">Email: </span> <span>@item.Email</span></p>
            <p><span class="title-s">Telefon Numarası: </span> <span>@item.Phone</span></p>
        </div>
    </div>
</div>
}
