@model PortfolioApp.Models.Entity.TblProject
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Proje Oluştur</h2>

<body>
    <form method="post">
        <label>Project Title</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
        <br />
        <label>Project Image</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
        <br />
        <label>Github Link</label>
        @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "table table-bordered" })
        <br />
        <label>Project Category</label>
        @Html.DropDownListFor(x => x.ProjectCategory, (List<SelectListItem>)ViewBag.v, new { @class = "table table-bordered" })
        <br />
        <label>Description</label>
        <textarea rows="5" class="table table-bordered" name="Description"></textarea>

        <button class="btn btn-info">Submit</button>
        <a href="/Project/Index/" class="btn btn-outline-warning">Geri</a>
    </form>
</body>